:host {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;

  .table-container {
    height: 100%;
    overflow: auto;

    tr {
      cursor: pointer;
    }

    mat-icon {
      cursor: pointer;
    }

    .icon-cell {
      max-width: 42px;
    }
  }

  .full-width-table {
    width: 100%;
  }
}



